# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz
*.7z
*.collection.json

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Data and stuff
*/scripts/mods/*/shared/
localization_export_*
